@import "tailwindcss";
/* File: src/index.css */
@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 10s linear infinite;
}

@keyframes gridMove {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(80px);
  }
}

.animate-gridMove {
  animation: gridMove 10s linear infinite;
}